{% extends 'base.html' %}

{% block content %}

<!-- body --> 

    <div class="container-fluid mt-3">
      <div class="row">

        <!--filter-->
        <div class="col-lg-2">
          <div class="list-group">
            <a href="/" class="list-group-item list-group-item-action ">All Product</a>
            {% for category in categories %}
            <a href="/?category={{category.id}}" class="list-group-item list-group-item-action ">{{category.name}}</a>
            {% endfor %}
          </div>
        </div>

        <!--all product -->
        <div id='products' class="col-lg-10 mx-auto">
          <div class="row mx-auto">
            {% for product in products %}
            <div>
              <div class="card mx-auto mb-3" style="width: 18rem;">
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title">{{product.name}}</p>
                  <p class="card-text">{{product.price}}</p>
                  <a href="#" class="btn btn-light border btn-sm">Add To Cart</a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div> 
        </div>
      </div>  
    </div>

    {% endblock %}